<div class="main">
    <ng-container *ngFor="let index of [0,1,2,3,4]">
        <ng-container *ngIf="getDealerImage(index)">
            <img [class]="'poker-dealer-'+(index+1)" [src]="getDealerImage(index)">
        </ng-container>
    </ng-container>
    <ng-container *ngFor="let pokemon of imageClass; let i = index">
        <ng-container *ngFor="let index of [0,1,2,3,4]">
            <ng-container *ngIf="getPlayerImage(i,index)">
                <img [class]="'poker-'+pokemon+'-'+(index+1)" [src]="getPlayerImage(i,index)">
            </ng-container>
        </ng-container>
    </ng-container>
    <app-button [backgroundColor]="isMyTurn() && canDraw()? '#7FFF00' : 'grey'" fontSize="40px" class="draw"
        padding="40%" buttonType="raised" (onClick)="draw()" text="Deal"></app-button>
    <app-button [backgroundColor]="isMyTurn() ? 'red': 'grey'" fontSize="40px" class="stand" height="10%" width="10%"
        padding="30%" buttonType="raised" (onClick)="endTurn()" text="Stand"></app-button>
    <ng-container *ngIf="isMyTurn()">
        <div class="time">
            <h2 class="timeLeft">{{ timeLeft >= 0 ? timeLeft : 0 }}</h2>
        </div>
    </ng-container>
    <div class="info">
        <h2 class="info-text">name : {{ getUsername() }}</h2>
        <h2 class="info-text">score : {{ getScore() }}</h2>
    </div>
    <ng-container *ngIf="status !== undefined && status !== null && status !== ''">
        <h1 class="status">{{ status }}</h1>
    </ng-container>
    <span class="dealer-text">{{ dealerText }}</span>
    <ng-container *ngFor="let index of [0,1,2,3,4]">
        <ng-container *ngIf="getPlayerName(index) && index !== 2">
            <span [class]="'P'+(index+1)+'-text'">{{ getPlayerName(index) }}</span>
        </ng-container>
    </ng-container>
</div>