.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../assets/background-login.jpg');
}

.main {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../assets/background-login.jpg');
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    padding: 2%;
    opacity: 85%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}